/* :root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253227;
  --border_color: #d6d6d6d5;
} */
.hero {
  position: relative;
  margin-bottom: 80px;
}
.swiper-slide .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 11;
}
.swiper-slide .content h4 {
  text-transform: uppercase;
  font-size: 1vw;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.4vw;
}
.swiper-slide .content h3 {
  font-size: 3vw;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--main_color);
  font-weight: bolder;
  line-height: 1.1;
}
.swiper-slide .content p {
  font-size: 1.1vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}

.mySwiper img {
  width: 100%;
  height: auto;
  display: block;
}
.hero img {
  position: relative !important;
  z-index: 10;
}