:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253227;
  --border_color: #d6d6d6d5;
}

.item-details {
  padding: 50px 0;
}

.item-details .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-details .imgs-item {
  width: 40%;
}
.item-details .imgs-item .small-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.item-details .imgs-item .small-img img {
  width: 25%;
}
.item-details .imgs-item .big-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.item-details .imgs-item .big-img img {
  max-height: 450px;
  width: auto;
}
.item-details .details-item {
  width: 58%;
}

.item-details .details-item .stars {
  display: flex;
  gap: 5px;
  margin: 15px 0;
}
.item-details .details-item .stars svg {
  font-size: 22px;
  color: #f8d941;
}
.item-details .details-item .price {
  font-size: 22px;
  margin: 20px 0;
}
.item-details .details-item h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-details .details-item .description {
  line-height: 1.5;
}
.item-details .details-item .stock {
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

.item-details .details-item .btn {
  font-size: 18px;
  border-radius: 10px;
  margin: 20px 0;
  border: 1px solid var(--main_color);
}
.item-details .details-item .btn.in-cart {
  pointer-events: none;
  background: transparent;
  color: var(--main_color);
}
.item-details .details-item .icons {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  margin: 20px 0;
}
.item-details .details-item .icons span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_color);
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.item-details .details-item .icons span:hover {
  background-color: var(--main_color);
  color: white;
}

.details-item .icons span.infav {
  transition: 0.3s ease-in-out;
  background-color: var(--main_color);
}
.details-item .icons span.infav svg{
  fill: white;
}

/* Loading Page */

.loading-item .item-details .imgs-item {
  height: 600px;
}
.loading-item .item-details .details-item {
  height: 600px;
  padding-top: 100px;
}
.loading-item .item-details .details-item h5 {
  margin-bottom: 50px;
  height: 30px;
  background-color: #e2e5e7;
}

