:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253227;
  --border_color: #d6d6d6d5;
}

.checkout {
  margin: 50px 0;

}
.checkout .ordersummary {
  width: 45%;
  padding: 0 20px;
  border: 1px solid var(--border_color);
  box-shadow: 0px 0px 10px #c0bfbf44;
  border-radius: 5px;
  margin: 0 auto;
  
}
.checkout .ordersummary h1 {
  border-bottom: 1px solid var(--border_color);
  padding: 20px 0;
  margin-bottom: 20px;
  color: var(--main_color);
}
.checkout .items {
  height: 350px;
  overflow-y: auto;
}
.checkout .items .item-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border_color);
  padding: 20px 0;
  overflow-x: hidden;
}
.checkout .items .item-cart:last-child {
  border-bottom: 0;
}
.checkout .items .item-cart .img-item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout .items .item-cart img {
  width: auto;
  height: 80px;
}
.checkout .items .item-cart .image-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkout .items .item-cart .content h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.checkout .items .item-cart .content .price-item {
  padding: 10px 0;
}
.checkout .items .item-cart .content .quantity-control {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}
.checkout .items .item-cart .content .quantity-control button {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid var(--border_color);
}
.checkout .items .item-cart .content .quantity-control .quantity {
  font-size: 18px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_color);
  border: 1px solid var(--border_color);
}
.checkout .items .item-cart .delete-item {
  outline: none;
  border: none;
  background: transparent;
}
.checkout .items .item-cart .delete-item svg {
  font-size: 25px;
  cursor: pointer;
  fill: #e51a1a;
  transition: 0.3s;
}
.checkout .items .item-cart .delete-item svg:hover {
  transform: scale(1.2);
}
.checkout .bottom-summary {
  border-top: 1px solid var(--border_color);
  padding-top: 25px;
}
.checkout .bottom-summary .shop_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.checkout .bottom-summary .shop_table p {
  font-size: 20px;
  color: var(--color_heading);
}
.checkout .bottom-summary .shop_table .total_checkout {
  font-size: 20px;
  font-weight: bold;
}
.checkout .bottom-summary .button-div {
  border-top: 1px solid var(--border_color);
  padding: 30px 0;
}
.checkout .bottom-summary .button-div .submit {
  width: 100%;
  background: var(--main_color);
  padding: 15px 0;
  border: 2px solid var(--main_color);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--white_color);
  font-size: 17px;
  transition: .3s;
}
.checkout .bottom-summary .button-div .submit:hover {
  background-color: var(--white_color);
  color: var(--main_color);
}

