:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253227;
  --border_color: #d6d6d6d5;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  background: white;
}
.top_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.top_header .logo {
  width: 160px;
}
.top_header .search-box {
  width: 500px;
  display: flex;
  align-items: center;
  background-color: var(--bg_color);
  border: 1px solid var(--border_color);
  border-radius: 30px;
}
.top_header .search-box input {
  height: 45px;
  width: 440px;
  padding: 5px 15px 5px 20px;
  background-color: var(--bg_color);
  border-radius: 30px 0 0 30px;
  border: 1px solid var(--main_color);
}
.top_header .search-box button {
  height: 45px;
  width: 60px;
  background-color: var(--main_color);
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  color: white;
}
.top_header .header-icons {
  display: flex;
  gap: 30px;
}
.top_header .header-icons .icon {
  position: relative;
  cursor: pointer;
}
.top_header .header-icons .icon svg {
  font-size: 30px;
}
.top_header .header-icons .icon .count {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  background-color: var(--main_color);
  border-radius: 100%;
  font-size: 13px;
}
/* Btm Nav */
.btm_header {
  background-color: var(--main_color);
}
.btm_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btm_header .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}
.btm_header .category_nav {
  width: 220px;
  height: 100%;
  position: relative;
  z-index: 2;
}
.btm_header .category_nav .category_nav_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white_color);
  border: 1px solid #999;
  border-top: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s ease-in-out;
}
.btm_header .category_nav .category_nav_list.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.btm_header .category_nav .category_nav_list a {
  padding: 14px 10px;
  border-bottom: 1px solid var(--border_color);
  font-size: 14px;
}
.btm_header .category_nav .category_nav_list a:last-child {
  border-bottom: 0;
}
.btm_header .category_nav .category-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main_color);
  padding: 0 15px;
  cursor: pointer;
}
.btm_header .category_nav .category-btn svg {
  fill: var(--white_color);
}
.btm_header .category_nav .category-btn p {
  color: var(--white_color);
  font-size: 15px;
  font-weight: 600;
}
.btm_header .nav_links {
  display: flex;
  height: 100%;
}
.btm_header .nav_links li {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.btm_header .nav_links li.active {
  background-color: #0079ca;
}
.btm_header .nav_links li a {
  color: var(--white_color);
}
.btm_header .header_register_icon {
  display: flex;
  gap: 20px;
}
.btm_header .header_register_icon svg {
  font-size: 22px;
  color: var(--white_color);
}


/* Search Box */
.serchBox-container {
  position: relative;
}
.suggetions {
  position: absolute;
  background: var(--white_color);
  width: 100%;
  list-style: none;
  border: 1px solid var(--border_color);
    cursor: pointer;
}
.suggetions li {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--border_color);

}
.suggetions li img {
  width: 30px;
}