@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253227;
  --border_color: #d6d6d6d5;
}
body {
  background-color: var(--white_color);
  font-family: "Inter", sans-serif;
  padding-top: 200px;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}
span {
  color: var(--main_color);
}
p {
  color: var(--p_color);
}
input,
button,
select,
textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color_heading);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
.btn {
  padding: 10px 18px;
  text-transform: capitalize;
  cursor: pointer;
  background: var(--main_color);
  color: var(--white_color);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  width: max-content;
  border-radius: 30px;
}
.btn:hover {
  transform: scale(1.1);
}

/* Loading Page  */
.skeltion {
  background-image: linear-gradient(
    90deg,
    #e2e5e7 0%,
    #f0f0f0 50%,
    #e2e5e7 100%
  );
  background-color: #e2e5e7;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.in-cart {
  border-color: var(--main_color) !important;
}

/* Toast */

.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-width: 300px;
}

.toast-img {
  width: auto;
  height: 50px;
  object-fit: cover;
}
.toast-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.toast-content .btn{
  margin-top: 10px;
  font-size: 13px;
}
.toast-wrapper strong {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
